.frontPage{
    background-color: #0E1217;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#8c9187; /*font color for the whole site*/
}

.image_button{
    background-color: black;
    padding: 0px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px; 
}

.icon{
     width: 30px;
     height: 30px; 
}

.rounded{
    background-color:#242a33;
    border:2px black;
    border-radius: 12px;
    padding: 5px;
    width:fit-content; 
    text-align: center;
}

.button{
    background-color:#242a33;
    border-radius: 12px;
    padding: 5px;
    width:fit-content;
    color:#8c9187; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.link{
    color: #8c9187;
}
a:hover{
    color: blue;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position:fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 1 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; 
}

.bubbleBox{
   background-color:#242a33;
    border:5px ;
    border-radius: 12px;
    padding: 5px;
    width:fit-content;

}


#penis{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color:#242a33;
  border:5px ;
  border-radius: 12px;
  padding: 5px;
  height: 75px; /* Example height */
  
  /* Adjust the width to your liking, 
     this will make it take up 80% of the page width */
  width: 50%;

  /* This is the key part for centering the block itself.
     It adds some space on top/bottom and auto on left/right. */
  margin: 20px auto;
  
  /* This keeps the text centered inside the box */
  text-align: center; 

}

#urmom{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color:#242a33;
  border:5px ;
  border-radius: 12px;
  padding: 5px;
  width:40%;
  align-items:center;

  /* This is the key part for centering the block itself.
     It adds some space on top/bottom and auto on left/right. */
  margin: 20px auto;
  
  /* This keeps the text centered inside the box */
  text-align: center; 

}
